@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}
<h2>New Rental Form</h2>
<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie"  name="movie" data-rule-atLeastOneMovie="true" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>

</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            //initialize an empty object viewModel
            var viewModel = {
                movieIds: []
            };

            //typeahead for customers
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#customer').typeahead({
                minLength: 2,
                highlight: true
            },
                {
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select", function (e, customer) {
                    viewModel.customerId = customer.id;
                });

            //typeahead for movies
            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#movie').typeahead({
                minLength: 2,
                highlight: true
            },
                {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                    $("#movie").typeahead("val", "");

                    viewModel.movieIds.push(movie.id);
                });

            //custom validators
            $.validator.addMethod("validCustomer",
                function () {
                    return viewModel.customerId && viewModel.customerId !== 0;
                }, "Please select a valid customer.");

            $.validator.addMethod("atLeastOneMovie", function () {
                return viewModel.movieIds.length > 0;
            }, "Please select at least one movie.");


            //validate the form
            var validator=$("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/Rentals",
                        method: "post",
                        data: viewModel
                    }).done(function () {
                        console.log("done");
                        toastr.success("Rentals successfully saved.");

                        //clear the forms after a successful save
                        $("#customers").typeahead("val", "");
                        $("#movie").typeahead("val", "");

                        $("#movies").empty();

                        viewModel = { movieIds: [] };

                        validator.resetForm();

                    }).fail(function () {
                        console.log("Hmmm! Something went wrong.");
                        toastr.error("Error while saving your rental(s).");
                    });

                    return false;
                }
            });
        });
    </script>
}
